* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.slider {
    height: 50%;
    width: 100%;
    position: relative;
}

.page-content {
    width: 100%;
    height: 100%;
}

.carousel-left, .carousel-right {
    width: 10%;
    height: 85%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: lightslategrey;
    transition: color 0.5s;
}

.carousel-left:hover, .carousel-right:hover {
    color: lightseagreen;
}

.slide {
    width: 80%;
    height: 85%;
    float: left;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    display: none;
    max-width: 100%;
    max-height: 100%;
}

.slide img.active {
    display: inline-block;
}

.bullets {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bullets i {
    color: lavender;
    padding: 0 3px;
    cursor: pointer;
    transition: color 0.5s;
}

.bullets i:hover,
.bullets i.active {
    color: lightseagreen;
}

.buttons {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.buttons div {
    display: inline-block;
    color: lavender;
    font-size: 30px;
    transition: color 0.5s;
    cursor: pointer;
}

.buttons div:hover,
.buttons div.active {
    color: lightseagreen;
}
