* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.slider {
    height: 50%;
    width: 100%;
}

.carousel-left, .carousel-right {
    width: 10%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: lightslategrey;
    transition: color 0.5s;
}

.carousel-left:hover, .carousel-right:hover {
    color: lightseagreen;
}

.slide {
    width: 80%;
    height: 100%;
    float: left;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slide img {
    display: none;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.slide img.active {
    display: inline-block;
}

.bullets {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.bullets i {
    color: lightslategrey;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.5s;
}

.bullets i:hover {
    opacity: 1;
}

.bullets i.active {
    color: lightseagreen;
}
